body{
    background-color: white;
    font-family: 'Space Grotesk', sans-serif;
    color: #3737d6;
    margin: 0;
    padding: 0;
    
}

#number{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

#color{
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

#colorBlock{
    height:100px;
    width:100px;
    /* margin: 50px; */
}



.svgLogo{
    width: 100px;
    height: auto;
    margin-left: 20px;
    animation: logoAnim 2s linear infinite alternate;
}


@keyframes logoAnim {
    0% {transform: translateY(0)}
    100% {transform: translateY(20px)}
}

.nav{
    list-style: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

h1{
    margin-left: 20px;
}
h3{
    margin-left: 20px;
}
p{
    margin-left: 20px;
}




.navBar{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
    
}

.profile{
    width: 50%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
 
   
}

a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    
}

.aboutHero{

}

.topicsTitle{
    margin-right: 50px;
}

.description{
    margin-left: 100px;
    padding: auto;
}

.navBar a {
    color: #3737d6;
}

.navBar a:hover{
    font-weight: 100;
}

@media screen and (min-width: 900px){
    .aboutHero{
        display: flex;
    }

    .topics{
        display: flex;
    }
   

    
}
    

