body{
    background-color: #3737d6;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

.svgLogo{
    width: 100px;
    height: auto;
    margin-left: 20px;
    animation: logoAnim 2s linear infinite alternate;
}




@keyframes logoAnim {
    0% {transform: translateY(0)}
    100% {transform: translateY(20px)}
}

.nav{
    list-style: none;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.navBar{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: white;
}



#projectsIntro{
   
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   
    
}

/* .projectIntro:hover{
    background-color: white;
    color: #3737d6;
    cursor: pointer;
} */



  
.proj {
    width: 75%;
    
    display: flex;
    margin-left: auto;
    margin-right: auto;
   
}




#projectStory{
    text-align: left;
    font-size: 24px;
    margin-bottom: 100px;
    
}

#intro{
    text-align: center;
    margin-bottom: 100px;
    font-weight: 1000;
    font-size: 50px;
}
#intro:hover{
    font-weight: 100;
}

.fight{
    width: 100%;
    margin-top: 65px;
}

.profile{
    width: 50%;
    max-width: 100%;
    display: flex;
 
   
}

.heading{
    text-align: center;
}




a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    
}



.navBar a {
    color: #3737d6;
}

.navBar a:hover{
    font-weight: 100;
}

.projectsIntro h1:hover{
    font-weight: 100;
}

@media screen and (min-width: 900px){
    .gallery{
        display: flex;
    }
}
    

    